<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TICK-TAX</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesdet.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <style>
        h2{text-align: center;}
        .topnav{
          transform: translate(0px, 75px);
        }
        .right-container{
          width: 50%;
          transform: translate(0px, 190px);
        }
        .bold{
            font-weight: bold;
        }
        .italic{
            font-style: italic;
        }
        /* .space{
            background: none;
            width: 5px;
        } */

        </style>
    </head>
    <body>
      <div class="logo">
        <img src="/static/image/logo1.png" alt="pic1">
      </div>

      <div class="topnav">
       <a href="home.html">Home</a>
       <a href="profile.html">Profile</a>
       <a href="finances.html">Finances</a>
       <a href="documents.html">Documents</a>
       <a class="active" href="tax.html">Calculator</a>
       <a href="payments.html">Payments</a>
       <a href="dashboard.html">Dashboard</a>
       <a href="calendar.html">Calendar</a>
      </div>

            <div class='right-container'>
              <header>
                <h2>CALCULATOR</h2>
                <br>
                <br>
                <form action="/count" method="GET" style="width: 500px; border: 1px solid grey; padding: 20px 50px; margin: auto;">
                <div class='set'>
                  <div class="input-field">
                      {% if provided_salary %}
                          <input id="salary" type="text" name="providedSalary" value="{{ provided_salary }}">
                      {% else %}
                          <input id="salary" type="text" name="providedSalary">
                      {% endif %}
                      <label for="salary">Annual salary</label>
                  </div>
                </div>

                      <label>
                          <input type="checkbox" class="filled-in" {% if show_description %}checked="checked"{% endif %} name="showDescription" />
                          <span>Display calculation method for each deduction</span>
                      </label>

                      {% if is_salary_provided %}
                          <button style="margin-top: 50px;" class="btn waves-effect waves-light" type="submit" name="action">Update</button>
                      {% else %}
                          <button style="margin-top: 50px;" class="btn waves-effect waves-light" type="submit" name="action">Calculate</button>
                      {% endif %}

                </form>
              </header>
              {% if result.salary_before_tax %}
                  <table class="highlight" style="width: 67%; margin: auto;">
                      <tr>
                          <th></th>
                          <!-- <th class="space"></th> -->
                          <th style="text-align:right">Annual</th>
                          <th style="text-align:right">Month</th>
                          <th style="text-align:right">Day</th>
                      </tr>
                      <tr>
                          <td><span class="bold">Salary</span> {% if show_description %}<div class="description"><span class="italic">(before deductions)</span></div><div class="description"> </div>{% endif %}</td>
                          <!-- <td class="space"></td> -->
                          <td style="text-align:right">Rs{{ result.get_annual_salary_before_tax() }}</td>
                          <td style="text-align:right">Rs{{ result.get_month_salary_before_tax() }}</td>
                          <td style="text-align:right">Rs{{ result.get_day_salary_before_tax() }}</td>
                      </tr>
                      <tr>
                          <td><span class="bold">TOTAL TAX</span>{% if show_description %}<div class="description"><span class="italic">(5+10+15+20+25+30)%</span></div>{% endif %}</td>
                          <!-- <td class="space"></td> -->
                          <td class="bold" style="text-align:right">Rs{{ result.get_annual_tax_0() + result.get_annual_tax_5() + result.get_annual_tax_10() + result.get_annual_tax_15() + result.get_annual_tax_20() + result.get_annual_tax_25() + result.get_annual_tax_30() }}</td>
                          <td style="text-align:right">Rs{{ result.get_month_tax_0() + result.get_month_tax_5() + result.get_month_tax_10() + result.get_month_tax_15() + result.get_month_tax_20() + result.get_month_tax_25() + result.get_month_tax_30() }}</td>
                          <td style="text-align:right">Rs{{ result.get_day_tax_0() + result.get_day_tax_5() + result.get_day_tax_10() + result.get_day_tax_15() + result.get_day_tax_20() + result.get_day_tax_25() + result.get_day_tax_30() }}</td>
                      </tr>
                      <tr>
                        <td><Span class="bold">Salary</Span>{% if show_description %}<div class="description"><span class="italic">(after deductions)</span></div>{% endif %}</td>
                        <!-- <td class="space"></td> -->
                        <td style="text-align:right">Rs{{ result.get_annual_salary_after_tax() }}</td>
                        <td style="text-align:right">Rs{{ result.get_month_salary_after_tax() }}</td>
                        <td style="text-align:right">Rs{{ result.get_day_salary_after_tax() }}</td>
                      </tr>
                      <tr>
                          <td class="left"><Span class="bold">Tax 0%</Span>{% if show_description %}<div class="description"><span class="italic">(salary-0)*0%</span></div><div class="description"><span class="italic">from Rs(0-2,50,000)</span></div>{% endif %}</td>
                          <!-- <td class="space"></td> -->
                          <td style="text-align:right">Rs{{ result.get_annual_tax_0() }}</td>
                          <td style="text-align:right">Rs{{ result.get_month_tax_0() }}</td>
                          <td style="text-align:right">Rs{{ result.get_day_tax_0() }}</td>
                      </tr>
                      <tr>
                          <td class="left"><Span class="bold">Tax 5%</Span>{% if show_description %}<div class="description"><span class="italic">(salary-2,50,000)*5%</span></div><div class="description"><span class="italic">from Rs(2,50,000-5,00,000)</span></div>{% endif %}</td>
                          <!-- <td class="space"></td> -->
                          <td style="text-align:right">Rs{{ result.get_annual_tax_5() }}</td>
                          <td style="text-align:right">Rs{{ result.get_month_tax_5() }}</td>
                          <td style="text-align:right">Rs{{ result.get_day_tax_5() }}</td>
                      </tr>
                      <tr>
                          <td class="left"><Span class="bold">Tax 10%</Span>{% if show_description %}<div class="description"><span class="italic">(salary-5,00,000)*10%</span></div><div class="description"><span class="italic">from Rs(5,00,000-7,50,000)</span></div>{% endif %}</td>
                          <!-- <td class="space"></td> -->
                          <td style="text-align:right">Rs{{ result.get_annual_tax_10() }}</td>
                          <td style="text-align:right">Rs{{ result.get_month_tax_10() }}</td>
                          <td style="text-align:right">Rs{{ result.get_day_tax_10() }}</td>
                      </tr>
                      <tr>
                          <td class="left"><Span class="bold">Tax 15%</Span>{% if show_description %}<div class="description"><span class="italic">(salary-7,50,000)*15%</span></div><div class="description"><span class="italic">from Rs(7,50,000-10,00,000)</span></div>{% endif %}</td>
                          <!-- <td class="space"></td> -->
                          <td style="text-align:right">Rs{{ result.get_annual_tax_15() }}</td>
                          <td style="text-align:right">Rs{{ result.get_month_tax_15() }}</td>
                          <td style="text-align:right">Rs{{ result.get_day_tax_15() }}</td>
                      </tr>
                      <tr>
                          <td class="left"><Span class="bold">Tax 20%</Span>{% if show_description %}<div class="description"><span class="italic">(salary-10,00,000)*20%</span></div><div class="description"><span class="italic">from Rs(10,00,000-12,50,000)</span></div>{% endif %}</td>
                          <!-- <td class="space"></td> -->
                          <td style="text-align:right">Rs{{ result.get_annual_tax_20() }}</td>
                          <td style="text-align:right">Rs{{ result.get_month_tax_20() }}</td>
                          <td style="text-align:right">Rs{{ result.get_day_tax_20() }}</td>
                      </tr>
                      <tr>
                          <td class="left"><Span class="bold">Tax 25%</Span>{% if show_description %}<div class="description"><span class="italic">(salary-12,50,000)*25%</span></div><div class="description"><span class="italic">from Rs(12,50,000-15,00,000)</span></div>{% endif %}</td>
                          <!-- <td class="space"></td> -->
                          <td style="text-align:right">Rs{{ result.get_annual_tax_25() }}</td>
                          <td style="text-align:right">Rs{{ result.get_month_tax_25() }}</td>
                          <td style="text-align:right">Rs{{ result.get_day_tax_25() }}</td>
                      </tr>
                      <tr>
                          <td class="left"><Span class="bold">Tax 30</Span>{% if show_description %}<div class="description"><span class="italic">(salary-15,00,000)*30%</span></div><div class="description"><span class="italic">above Rs 15,00,000</span></div>{% endif %}</td>
                          <!-- <td class="space"></td> -->
                          <td style="text-align:right">Rs{{ result.get_annual_tax_30() }}</td>
                          <td style="text-align:right">Rs{{ result.get_month_tax_30() }}</td>
                          <td style="text-align:right">Rs{{ result.get_day_tax_30() }}</td>
                      </tr>
                  </table>
              {% endif %}
              <footer>
                <div class='set'>

                 </div>
              </footer>
            </div>

    </body>
</html>
